<h1>Shortener</h1>

<div>
  <input type="text" placeholder="URL" [(ngModel)]='url'>
  <input type="text" placeholder="Name" [(ngModel)]='name'>
  <button (click)='onSubmit()'>Shorten</button>
</div>

<ul>
  <li *ngFor="let short of shortenings" class="card card-items">
    <h3>{{ short.name }}</h3>
    <div class="short-buttons">
      <button class="details"><a routerLink="/shortener/{{short.id}}"> View details </a></button>
      <button (click)="delete(short)"> Delete</button>
    </div>
  </li>
</ul>
