body {
  padding: 0;
  margin: 0;
  line-height: 1.5rem;
  color: #444;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  line-height: 2rem;
}

input {
  padding: 10px;
  border-radius: 4px;
  margin-right: 20px;
  font-size: 14px;
}

input::placeholder {
  font-size: 12px;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

h1{
  font-size: 40px;
}

h2 {
  font-size: 40px;
  line-height: 0;
}

h3 {
  color: #444;
}

button {
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  background: #BED0EA;
  box-shadow: 0 5px 0 #3C93D5;
  transition: .3s;
  color: #fff;
  width: 120px;
  margin-right: 20px;
}

.card {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-left: 8px solid #1976d2;
  background-color: rgba(25, 118, 210, .05);
  color: #444;
}

.card-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-wrap {
  margin: 0 10px;

}

div > img{
  max-width: 100%;
}

.convert{
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
  width: fit-content;
  font-size: 18px;
}


.search-input{
  width: 200px;
  margin-bottom: 20px;
}
/* utils */
.mb1 {
  margin-bottom: 10px;
}
