a{
  color: #5e5e5e;
}

a:hover{
  color: #1976d2;
}

.wrapper{
  width: fit-content;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

span{
  width: 100px;
  display: inline-block;
}

